@inherits R_Page
@attribute [R_Page(Title = "Test Detail")]

<h3>TestPopup</h3>

<TelerikButton OnClick="@OnClose">Close</TelerikButton>

@code { 
    protected override Task R_Init_From_Master(object poParameter)
    {
        return base.R_Init_From_Master(poParameter);
    }

    //protected override Task R_PageClosing(R_PageClosingEventArgs eventArgs)
    //{
    //    //eventArgs.Cancel = true;

    //    return Task.CompletedTask;
    //}

    private async Task OnClose()
    {
        await this.Close(true, "sihol");
    }
}
